<head>
  <meta charset="UTF-8">
  <title>🤮 Blogs</title>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Sick Blogs
      </h1>
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>