<form action="/register" method="post">
  <fieldset>
    <legend>Login Form</legend>
    <div>
      <label for="username">Username</label>
      <input name="username" id="username" type="text" />
    </div>
    <div>
      <label for="password">password</label>
      <input name="password" id="password" type="password" />
    </div>
    <div>
      <label for="bio">Bio</label>
      <textarea name="bio" id="bio" cols="30" rows="10">
      </textarea>
    </div>
    <input type="submit" value="Register" />
  </fieldset>
</form>